[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/CTAGS-Highlighting"]
	path = http:/github.com/vim-scripts/CTAGS-Highlighting
	url = git://github.com/vim-scripts/a.vim
[submodule "vim/bundle/snipmate.vim"]
	path = http:/github.com/gmarik/snipmate.vim
	url = http://github.com/gmarik/snipmate.vim
[submodule "vim/bundle/vim-cucumber"]
	path = git:/github.com/tpope/vim-cucumber
	url = git://github.com/tpope/vim-cucumber
[submodule "vim/bundle/vim-rails"]
	path = git:/github.com/tpope/vim-rails
	url = git://github.com/tpope/vim-rails
